<div class="ui container">
  <h4 class="jumbotron">Edit Chatroom</h4>

  <div class="ui form my-form">
  	<% provide(:button_text, "Update") %>
  	<%= form_for @chatroom, html: { multipart: true }, id: "edit_chatroom" do |f| %>
  	<%= f.hidden_field :admin, value: current_user.id %>

    <div class="required field">
  		<%= f.label :title %>
  		<%= f.text_field :title %>
  	</div>
  	<br>
  	<div class="required field">
  		<%= f.label :description %>
  		<%= f.text_area :description %>
  	</div>

  	 <%= f.submit yield(:button_text) %>
   <% end %>

   <div class="ui divider"></div>
   <h2> <i class="trash icon"></i> Delete Chatroom</h2>
   <p>This will remove all users from the chat and permanmently delete your chatroom.</p>
   <%= button_to "Delete", chatroom_delete_path, method: :delete, data:
   {confirm: "Are you sure you want to delete this chatroom?"} %>

  </div>


</div>
