<div class="ui container">
  <h4 class="jumbotron">Create New Chat</h4>
  <div class="ui form my-form">
    <% provide(:button_text, 'Create') %>
    <%= form_for @chatroom, html: { multipart: true }, id: "new_chatroom" do |f| %>
    <%= f.hidden_field :admin, value: current_user.id %>
    <div class="required field">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
    <br>
    <div class="required field">
      <%= f.label :description %>
      <%= f.text_area :description %>
    </div>
    <div class="field">
      <%= f.submit yield(:button_text) %>
      <% end %>
    </div>
  </div>

  <span class="instructions"> <%= fa_icon "caret-left" %> <%= link_to "Back", :back %> <br /> </span>
  
</div>
