<div class="ui accordion">
	<div class="title">
		<h3 class="nav-title"> <i class="users icon"></i> Your Chatrooms
		</h3>
	</div>

	<div class="content">
		<div class="ui secondary vertical menu">
			<% current_user.chatrooms.each do |room| %>
			<% unless room.is_direct_message? %>

			<% if current_page == room.id %>
			<div class="active item">
				<%= link_to room.title, chatroom_path(room) %>
				<% if room.admin?(current_user) %>
				<div class="ui label currently-active-chat"><%= link_to edit_chatroom_path(room) do %>
					<%= fa_icon "pencil", style: "color:#000000;" %>
					<% end %>
				</div>
				<% end %>
			</div>

			<% else %>
			<div class="item">
				<%= link_to room.title, chatroom_path(room) %>
				<% if room.admin?(current_user) %>
				<div class="ui label"><%= link_to edit_chatroom_path(room) do %>
					<%= fa_icon "pencil", style: "color:#000000;" %>
					<% end %>
				</div>
				<% end %>
			</div>
			<% end %>
			<% end %>
			<% end %>

			<div class="ui divider"></div>

			<%= link_to new_chatroom_path do %>
				<p> <i class="add circle icon"></i> Create New Chat</p>
			<% end %>

		</div>
	</div>
</div>
