<div class= "ui container">

  <h4 class="jumbotron">Log In</h4>
  <%= render "devise/shared/links" %>
  <br>

  <div class="ui grid centered">
    <div class="ui form my-form">

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, class: "input-field" %>
        </div>
        <div class="field">
          <%= f.label :password %>
          <%= f.password_field :password, autocomplete: "off" %>
        </div>
        <div class="actions">
          <%= f.submit "Log in" %>
        </div>
        <% end %>

    </div>
  </div>

</div>
