<div class="ui two column grid horizontal segments user-profile">
  <div class="ui segment four wide column">
    <% if @cat.cavatar.nil? %>
      <%= image_tag("default.svg", class: "ui medium image") %>
    <% else %>
      <%= image_tag("#{@cat.cavatar}", class: "ui medium image") %>
    <% end %>
  </div>

  <div class="ui segment column">
    <h2 class="profile-name"><%= @cat.name %> the <%= @cat.breed %></h2>
  <br>

  <%= link_to "Edit Your Cat", edit_cat_path(@cat) %>

  </div>
</div>
